<% provide(:body_class, "sign_in") %>
<div class='sign-in'>
	<div class="innered">
	  <h2><% t '.title' %>Log In</h2>
	  <div class="divider"></div>
	  <%= render :partial => '/sessions/form' %>
	</div>
</div>
