<% provide(:body_class, "bgs") %>
<% provide(:stylesheet, "teaser") %>
<style>
.white-filler {
  height:100%;
  color: #444;
  background: white;
}
.table {
  display: table;
  width: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-size: 100px;
  width: 100%;
  text-align: center;
}
</style>

<div class="teaser table video-slideshow">
  <div class="container">
    <div class="slideshow-container">
      <div class="slide" id="slide1">
        <video poster="http://squareup.com/cash/static/images/sushi-still.jpg" preload="">
          <source src="https://d3eak51ol1qdx0.cloudfront.net/videos/sushi.mp4">
          <source src="https://d3eak51ol1qdx0.cloudfront.net/videos/sushi.oggtheora.ogv">
        </video>
      </div>
      <div class="slide" id="slide2">
        <video preload="">
          <source src="https://d3eak51ol1qdx0.cloudfront.net/videos/taxi.mp4">
          <source src="https://d3eak51ol1qdx0.cloudfront.net/videos/taxi.oggtheora.ogv">
        </video>
      </div>
      <div class="slide" id="slide3">
        <video preload="">
          <source src="https://d3eak51ol1qdx0.cloudfront.net/videos/cheers.mp4">
          <source src="https://d3eak51ol1qdx0.cloudfront.net/videos/cheers.oggtheora.ogv">
        </video>
      </div>
    </div>
  </div>
  <div class="table-cell">
      Good Morning.
  </div>
</div>
<section class="white-filler">
</section>