<style>
	.estimator {
		margin: 200px auto;
		width:400px;
	}
	.estimator input {
		width: 100%;
		line-height: 30px;
	}

</style>

<div class="mainwrapper">
	<div class="estimator"  ng-app="">
		How much are you paying per click?
		<input type="text" ng-model="cpc" placeholder="0.50">
		How many prints do you make per month?
		<input type="text" ng-model="monthly" placeholder="10000">
		<p>${{ cpc * monthly}} </p>
		<p>With simplified's low $0.03 per color page, you could be saving ${{ (cpc * monthly) - (cpc/2 * monthly) }} per month!</p>
	</div>
</div>