<header>
	<h1 class="lxrck top" data-coupling=".lxrck-box">Alex Rock <span class="dvlpr">Developer</span></h1>
	<i class="batch dots top" data-coupling=".dots-box" data-icon="&#xf141"></i>
</header>

<div class="lxrck-box bottom" data-coupling=".lxrck-box"> 
	<div class="inside">
		<p>My name is <strong>Alex Rock</strong>.</p>
		<p>I'm a developer in Omaha, Nebraska with a passion for technology. 
		<p>I love build neat web and desktop applications with amazing people.</p>
	</div>
</div>

<div class="dots-box bottom" data-coupling=".dots-box"> 
	<div class="inside">
		<p>Find me on <a id="twitter" href="http://twitter.com/intent/tweet?screen_name=lxrck&text=Hey,%20">Twitter</a>, <a id="strava" href="http://www.strava.com/athletes/1012932">Strava</a> and <a id="instagram" href="http://instagram.com/bangarang"> Instagram</a>.</p> 
		<p>Site created with <a id="rails" href="ubyonrails.org">Ruby on Rails</a> and hosted by <a id="heroku" href="http://heroku.com">Heroku</a>. </p>
	</div>
</div>

<div class="mainwrapper">
	<div class="main">
		<h3 class="title"><a href="#" >Tell Me Something.</a></h3>
	</div>
</div>