<header>
	<h1 class="lxrck top" data-coupling=".lxrck-box">Alex Rock <span class="dvlpr">Developer</span></h1>
	<i class="batch dots top" data-coupling=".dots-box" data-icon="&#xf141"></i>
</header>

<div class="lxrck-box bottom" data-coupling=".lxrck-box"> 
	<div class="inside">
		<p>I'm <strong>Alex Rock</strong>.</p>
		<p>Here's a little about me</p>
	</div>
</div>

<div class="dots-box bottom" data-coupling=".dots-box"> 
	<div class="inside">
		<p>I'm currently working on ...</p>
	</div>
</div>

<div class="mainwrapper">
	<div class="main">
		<h3 class="title"><a href="#" >Tell Me Something. Really - anything.</a></h3>
	</div>
</div>