<video id="background" preload="auto" loop="loop" autoplay="autoplay" poster="/assets/wakeboard.png">   
  <source src="http://video.lxrck.com/reel.mp4" type="video/mp4" />        
  <source src="http://video.lxrck.com/reel.webm" type="video/webm" />
  <source src="http://video.lxrck.com/reel.ogv" type="video/ogg" />
</video>

<div class="whiteness">
  <div class="inner">
      <div class="picture">
        <%= image_tag avatar_url(), :class =>"me" %>
      </div>
      <p class="name">My name is <strong>Alex Rock</strong>.</p>
      <p class="textbox">I'm a web developer in Omaha, Nebraska and I love building applications.</p>
      <a class="hire" href="mailto:me@alexjrock.com">Available for Hire</a>
      <p class="findme">Find me on <a href="http://twitter.com/lxrck" id="twitter" alt="http://twitter.com/lxrck">Twitter</a>, <a id="strava" href="http://www.strava.com/athletes/1012932">Strava</a> and <a id="instagram" href="http://instagram.com/bangarang"> Instagram</a>.</p>
  </div>
</div>

<%= javascript_include_tag "application" %>

<script>
  $(document).ready(function() {
    $.backgroundVideo($('body'), {
      "align": "centerXY",
      "width": 1280,
      "height": 720
    });
  });
</script>