<section class="goldtainer">
	<h2 class="title">Typography</h2>
	<h1>The five boxing wizards jump quickly.</h1>
	<h2>The five boxing wizards jump quickly.</h2>
	<h3>The five boxing wizards jump quickly.</h3>
	<h4>The five boxing wizards jump quickly.</h4>
	<h5>The five boxing wizards jump quickly.</h5>
	<h6>The five boxing wizards jump quickly.</h6>
	<p>The five <strong>boxing wizards</strong> jump quickly.</p>
	<p>Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
</section>
<section class="goldtainer">
	<h2 class="title">Buttons</h2>
	<button class="button button-large button-primary" type="button">Large button</button>
	<a href="http://google.com" class="button button-large button-blue" >www.google.com</a>
	<a href="http://google.com" class="button button-large" >www.google.com</a>
	<a href="http://google.com" class="button button-large button-orange" >www.google.com</a>
</section>