<% provide(:body_class, "white tellme") %>
<div class="mainwrapper" ng-app="Sender">
	<div class="main" ng-controller="SendCtrl">
		<div class="flip" ng-show="isVisible" style="display: none;">
			
			<div class="message" ng-repeat="message in messages | orderBy:'id':true | limitTo:1"> 
		      	<p>{{message.content}}</p>
		      	<i>- You</i>
		    </div>

		    <h2 id="thanks" ng-show="isVisible" style="display: none;">Got it, Thanks!</h2>

		    <form ng-submit="flipMessage()" ng-show="isVisible" style="display: none;">
		    	<button type="submit">What else?</button>
		    </form>
		
		</div>

		<form name="form" novalidate ng-submit="addMessage()" class="box" ng-show="isInvisible">

			<div class="message">
				<textarea class="typer" ng-model="newMessage.content" name="content" placeholder="Type Something Here" required></textarea>
				<i>- You</i>
			</div>

			<!-- <div ng-show="form.content.$dirty"> -->
	          <p class="dirty" ng-show="form.content.$dirty && form.content.$error.required">Come on - Tell me something!</p>
	        <!-- </div> -->

			<button type="submit" ng-disabled="form.$invalid || isUnchanged(newMessage)"><i class="batch" data-icon="&#xf150"></i></button>

		</form>
	</div>
</div>