<div class="video">
  <video preload="auto" loop="loop" autoplay="autoplay" poster="http://assets.lxrck.com/blur.jpg">   
    <source src="http://video.lxrck.com/reel.mp4" type="video/mp4" />        
    <source src="http://video.lxrck.com/reel.webm" type="video/webm" />
    <source src="http://video.lxrck.com/reel.ogv" type="video/ogg" />
  </video>
</div>

	<%= javascript_include_tag "bgv" %>

	<script>
	  $(document).ready(function() {
	    $.backgroundVideo($('.video'), {
	      "align": "centerXY",
	      "width": 1280,
	      "height": 720
	    });
	    $('.navicon').click(function() {
	      $('.info').toggle();
	      $(this).toggleClass('icon-ellipsis-horizontal').toggleClass('icon-remove');
	    });
	  });
	</script>

	<div>
	    <p>Hi, I'm <strong>Alex Rock</strong>.</p>
	    <p>I'm a web developer in Omaha, Nebraska.</p>
	    <a class="hire" href="mailto:me@alexjrock.com">Available for Hire</a>
	</div>