<% provide(:body_class, "top") %>
<div class="goldtainer">
  <h1 class="phototitle">Photos</h1>
  <%= link_to 'New Photo', new_photo_path unless !signed_in? %>
</div>

<%= render 'tangents/pics', :pics => @photos %>

<% if Rails.env.production? %>
  <%= javascript_tag do %>
    mixpanel.track('Viewed Photos Index');
  <% end %>
<% end %>