/*
 *= require_self
 */
@import "bourbon";
@import "grid-settings";
@import "neat";

@font-face {
  font-family: "Batch";
  src: url('/assets/batch-icons-webfont.eot');
  src: url('/assets/batch-icons-webfont.eot?#iefix') format('eot'), 
  	   url('/assets/batch-icons-webfont.woff') format('woff'), 
  	   url('/assets/batch-icons-webfont.ttf') format('truetype'), 
  	   url('/assets/batch-icons-webfont.svg') format('svg');
 font-weight: normal;
 font-style: normal;
 }


html, body {
	width: 100%;
	height:100%;
	color:#22262E;
	margin:0;
}

body.hover {
	@include transition (all 0.2s ease-in-out);
	background: #00ADE2;
}

body.hover header {
	color: white;
}

a {
	font-weight:bold;
	color: inherit;
	text-decoration: none;
	border-bottom: #22262E dotted 1px; 
}

a:hover {
	@include transition (all 0.2s ease-in-out);
	color: white;
	border-color: white; 
}

header {
	width: 100%;
	position: absolute;
	z-index: 2;
	.top {
		padding: 0 30px;
	}
	.lxrck, .dots {
		cursor:pointer;
		@include transition (all 0.2s ease-in-out);
		line-height: 50px;
	}

	.lxrck:hover, .dots:hover {
		color: #f27490;
	}

	.lxrck { 
		float: left;
		text-align:left;
		font-weight: 300;
		margin: 0;
		font-size: 18px; 
		span.dvlpr {
			font-weight:900;
		}
	}

	.dots { 
		text-align:right;
		font-size: 25px;
		font-weight: bold;
		line-height: 50px;
		float: right;
		padding-left:50px;
	}
	.bottom { 
		display: none;
		padding: 0 15px;
		position: absolute;
		width: 100%;
		a {
			border-color: white;
		}
		.dots-box, .lxrck-box {
			display: none;
			background:#22262E;
			color:white;
			padding:15px;
		}
		.dots-box {
			text-align: right;
		}
	}
}


div.mainwrapper {
	display: table;
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
	div.main {
		display: table-cell;
		width: 100%;
		vertical-align: middle;
		position: relative;
		text-align: center;
	}
}


.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #444;
}

.box {
	background:#444;
	margin:0 15px;
}


a#twitter:hover {
  	color: #1DADEA;
}

a#strava:hover {
  	color: #FC4C02;
}
a#instagram:hover {
	color: #3B5998;
}
a#heroku:hover {
	color: #6762A6;
}
a#rails:hover {
  	color: #981A21;
}


.batch { 
	font-family: "Batch";
	font-style: normal; 
}
.batch:before {
    content:attr(data-icon);
}

.top:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.top:after {
    clear: both;
}

.container {
	position:relative;
	top: 50px;
	max-width:100%;
	width: 1000px;
	margin:auto;
	padding:15px;
	h2 {
		text-align: center;
		text-decoration: underline;
	}
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #f27490; color: #fff; text-shadow: none; }
::selection { background: #f27490; color: #fff; text-shadow: none; }


form {
	margin: auto;
	text-align: left;
}


textarea {
	outline: none;
	resize: none;
	width: 100%;
	max-width: 100%;
	border: none;
	background: transparent;
	color: #22262E;
	font-size: 18px;
}

button {
	border: none;
	background: #2D323B;
	color: white;
	font-size: 30px;
	width: 100%;
	max-width: 100%;
	cursor: pointer;
	padding: 10px;
}

.flip {
	width: 320px;
}

.flip button {
	font-size:15px;
}

button:hover {
	background: #f27490;
	@include transition (all 0.2s ease-in-out);
}

::-webkit-input-placeholder {
	color: #f27490;
	font-size: 18px;
	font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   	color: #f27490;
   	font-size: 18px;
   	font-style: italic;
   
}

::-moz-placeholder {  /* Firefox 19+ */
   	color: #f27490;
   	font-size: 18px;
   	font-style: italic;
   
}

:-ms-input-placeholder {  
   	color: #f27490;
   	font-size: 18px;
   	font-style: italic;
   
}

.box {
	background: white;
	padding: 10px 30px;
	margin: 15px auto 60px auto;
	overflow: hidden;
	position: relative;
	padding-bottom: 20px;
	width: 320px;
	color: #22262E;
	@include transition (all 0.2s ease-in-out);

}
.box:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 0 30px 30px 0;
	border-style: solid;
	border-color: rgb(29,173,234) rgb(29,173,234) #22262E #22262E;
	background: #22262E;
	display: block;
	width: 0;
}


@media screen and (max-width: 320px) {
  header { 
  	.top {
  		padding: 0 15px;
  	}
  	.bottom {
  		padding: 0;
  	}
  }
}
