/*
 *= require font-awesome
 *= require_self
 */
 
@import "bourbon";
@import "grid-settings";
@import "neat";

@font-face {
  font-family: "Batch";
  src: url('/assets/batch-icons-webfont.eot');
  src: url('/assets/batch-icons-webfont.eot?#iefix') format('eot'), 
  	   url('/assets/batch-icons-webfont.woff') format('woff'), 
  	   url('/assets/batch-icons-webfont.ttf') format('truetype'), 
  	   url('/assets/batch-icons-webfont.svg') format('svg');
 font-weight: normal;
 font-style: normal;
 }

.batch { 
	font-family: "Batch";
	font-style: normal; 
}
.batch:before {
    content:attr(data-icon);
}

h1 { 
	font-size: 3em;
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #f27490; color: #fff; text-shadow: none; }
::selection { background: #f27490; color: #fff; text-shadow: none; }

html, body {
	width: 100%;
	color:#22262E;
	margin:0;
	font-size: 20px;
	margin: auto;
}

a {
	color:#22262E;
}

.goldtainer {
	width:61.8%;
	margin: auto;
	padding: 0 15px;
}

article header {
	position:relative;
	padding: inherit;
}

.divider {
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(225,225,225,0.5)), color-stop(50%, rgba(225,225,225,0.8)), color-stop(100%, rgba(225,225,225,0.5)));
	background-image: -webkit-linear-gradient(left, rgba(225,225,225,0.5), rgba(225,225,225,0.8), rgba(225,225,225,0.5));
	background-image: -moz-linear-gradient(left, rgba(225,225,225,0.5), rgba(225,225,225,0.8), rgba(225,225,225,0.5));
	background-image: -o-linear-gradient(left, rgba(225,225,225,0.5), rgba(225,225,225,0.8), rgba(225,225,225,0.5));
	background-image: linear-gradient(left, rgba(225,225,225,0.5), rgba(225,225,225,0.8), rgba(225,225,225,0.5));
	height: 1px;
	width: 100%;
}

img {
	max-width: 100%;
}

.title { 
	text-align: center;
	margin: 0;
	padding: 0;
	border-bottom: #f3f3f3 solid thin;

}

.whiteness {
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
  /* @include linear-gradient(rgba(13,13,13,0.4), rgba(13,13,13,0.6)); */
  background-color: transparent;
  position: relative;
  z-index: 1;
}
.inner {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  color: white;
 
}

.home_video {
	width: 100%;
	max-width: 100%;
}

.video_container {
	max-height: 500px;
	overflow:auto;
}

header.main {
	min-height: 50px;
	line-height: 50px;
	.back {
		float: left;
		padding: 0 15px;
	}

	.name {
		position: absolute;
		left: 0;
		top: 0;
		margin: 0;
		padding: 0 15px;
	}
	
	.name a {
		font-weight: 300;
		span.about { 
			@include transition (all .2s ease-in-out);
			color:transparent;
			margin-left: -58px;
		}
	}
	.name:hover {
		span.about { 
			color: #dedede;
			margin-left: 0;
		}
	}

	.navicon {
		display:none;
	}


	nav {
		position: absolute;
		right: 0;
		top: 0;
		padding: 0 15px;
		h5 {
			margin:0;
		}
		ul {
			margin: 0;
			padding: 0;
		}
		ul li {
			list-style: none;
			float: left;
			padding: 0 5px;
		}

		ul li a {
			color: #999;
			font-weight: normal;
		}

		ul li a.active, ul li a:hover {
			color: #22262E;
		}
	}
}


footer.main {

}

nav.menu {
	width: 150px;
	background: white;
	position: fixed;
	z-index: 100;
	ul li {
		list-style: none;
	}

	ul li a {
		color: #999;
	}

	ul li a.active, ul li a:hover {
		color: #22262E;
	}
}



section.description {
	width: 18%;
	background: white;
	position: fixed;
	padding: 0 15px;
	border-right: #dedede solid thin;

	ul li {
		list-style: none;
	}

	ul li a {
		color: #999;
	}

	ul li a.active, ul li a:hover {
		color: #22262E;
	}
	.divider {display:none;}
}
.right {
	right: 0;
}

.togger {
	text-align: center;
	padding: 5px 15px;
}

// Articles

article.tag {
	-webkit-font-smoothing: subpixel-antialiased;
	@include transition (all .1s ease-in-out);
	width: 23%;
	height: 200px;
	background-size: cover;
	background-position: center center;
	margin-right: 2%;
	border-radius: 2px;
	float: left;
	margin-bottom: 2%;
	position: relative;
	z-index:1;
	overflow: hidden;
	header {
		height: 100%;
		width: 100%;
		h2 {
			padding: 0 10px;
			text-shadow: 0 0 5px black;
			margin-top: 0;
			position:relative;
			z-index:1;
			text-transform:uppercase;
		}
		
		.overlay {
			@include transition (all .6s ease-out);
			height:200%;
			width: 100%;
			background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(34,38,46,1)), to(rgba(34,38,46,0)));
			background-image: -webkit-linear-gradient(top, rgba(34,38,46,1), rgba(34,38,46,0)); 
			background-image:    -moz-linear-gradient(top, rgba(34,38,46,1), rgba(34,38,46,0));
			background-image:     -ms-linear-gradient(top, rgba(34,38,46,1), rgba(34,38,46,0));
			background-image:      -o-linear-gradient(top, rgba(34,38,46,1), rgba(34,38,46,0));
			opacity: 1;
			position:absolute;
			top: -200px;
		}
	}
	header:hover {
	}

	a {
		border: none;
		color: white;
		font-weight: inherit;
	}
	aside {
		@include transition (all .1s ease-in-out);
		opacity: 0;
		padding: 0 10px;
		position: relative;
		z-index:1;
	}
	p.meta {
		position: absolute;
		bottom: 0;
		opacity: 1;
		background: rgba(255,255,255,0.5);
		width: 100%;
		margin: 0;
		padding: 5px;
		text-align: center;
		color: #22262E;
		a:hover {
			color:#f27490;
		}
	}
}

article.tag:hover {
	header {
		.overlay {
			opacity: 1;
			top: 0;
		}
	}
	aside {
		opacity: 1;
	}
}

article.tag:last:before,
article.tag:last:after {
    content:"";
    display:table;
}

article.tag:last:after {
    clear:both;
}

article.tagmain {
	-webkit-font-smoothing: subpixel-antialiased;
	border-radius: 2px;
	header {
		height: 100%;
		width: 100%;
		padding: 0;
	}
	p {
		margin: 0;
	}
	aside {
		position: relative;
		z-index:1;
	}
	p.meta {
		width: 100%;
		margin: 0;
		text-align: center;
		color: #22262E;
		a{
			color:#c3c4c5;
		}
		a:hover {
			color:#f27490;
		}
	}

	div.content {
		background: #f3f3f3;
		padding: 15px;
	}
}

.float {
	display: table;
	height: 100%;
	width: 100%;
	.inner {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

article.photo, article.post {
	-webkit-font-smoothing: subpixel-antialiased;
	@include transition (all .1s ease-in-out);
	border-radius: 2px;
	position: relative;
	overflow: hidden;
	margin: 15px 0;

	p.tags {
		position: absolute;
		top: 0;
		width: 100%;
		text-align: center;
		display: none;
		opacity: 0;
		a:after {
			content: ', ';
		}
		a:last-child:after {
			content: ' ';
		}
		a:hover {
			color:#f27490;
		}
	}
	header {
		height: 100%;
		width: 100%;
		position: absolute;
		h2 {
			@include transition (all .1s ease-in-out);
			opacity: 0;
			padding: 0 10px;
			text-shadow: 0 0 5px black;
			margin-top: 0;
			position:relative;
			z-index:1;
			text-align: center;
			text-transform: uppercase;
		}
		
		.overlay {
			@include transition (all .15s ease-in-out);
			height:100%;
			width: 100%;
			background: rgba(34,38,46,0.8);
			opacity: 0;
			position:absolute;
		}
	}

	a {
		border: none;
		color: white;
		font-weight: inherit;
	}
	aside {
		@include transition (all .1s ease-in-out);
		opacity: 0;
		//display: none;
		padding: 0 10px;
		position: relative;
		z-index:1;
		a:hover {
			color:#f27490;
		}
	}

	p.meta {
		position: absolute;
		bottom: 0;
		opacity: 1;
		background: rgba(255,255,255,0.5);
		width: 100%;
		margin: 0;
		padding: 5px;
		text-align: center;
		color: #22262E;
		a:hover {
			color:#f27490;
		}
	}

	img {
		display: table;
		margin: auto;
		border-radius: 2px;
		width: 100%;
	}
}

article.photo:hover {
	header {
		.overlay {
			opacity: 1;
			//top: 0;
		}
	}
	h2, aside {
		opacity: 1;
	}
}

article.post.main {
	h2 { 
		text-align: center;
	}
	p.updated {
		color: #f3f3f3;
		text-align: center;
		margin: 0;
	}
	li {
		margin: 5px 0;
	}
	a {
		color: white;
		border: none;
		padding: 2px;
		background: #22262E;
	}
	a:hover {
		background:#f27490;
	}
}

article.post {
	header {
		h2, aside {
			opacity: 1;
		}
		.overlay {
			opacity: 1;
			background: rgba(34,38,46,0.5);
		}
	}
}

article.post:hover {
	header {
		.overlay {
			opacity: 0.5;
			//top: 0;
		}
	}
}

p.tags {
	text-align: center;
	a:after {
		content: ', ';
	}
	a:last-child:after {
		content: ' ';
	}
	a:hover {
		color:#f27490;
	}
}

section.photo {
	padding: 5px 0;
}

section.photo:nth-child(2n) {
	background: #f3f3f3;
}

/* For modern browsers */
.clear:before,
.clear:after {
    content:"";
    display:table;
}
.clear:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clear {
    zoom:1;
}

.picture {
  width: 150px;
  height: 150px;
  box-shadow:inset 0px 0px 19px black;
  -webkit-box-shadow:inset 0px 0px 19px black;
  -moz-box-shadow:inset 0px 0px 19px black;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;

  position: absolute; top: 15px; left: 15px;
}

.picture img.me {
  width: 150px;
  height: 150px;
  position: relative;
  z-index: -1;
  border-radius: 50%;
}

video#background { 
  display: none;
  position:fixed; 
  top:0;
  left:0;
  bottom:0;
  right:0;
  width:100%;
  height:100%;
}

.textbox {
  text-align: center;
}

a.hire {
	background: #f27490;
	padding: 10px 100px;
	border-bottom: none;
	border-radius: 2px;
	display: table;
	margin: auto;
}

a.hire:hover {
	color: white;
	background: #131415;
}


.findme {
	padding: 10px;
	font-size: 16px;
	color: #999;
	text-align: center;
}

div.menubox {
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	margin: 15px;
	i {
		display: block;
		height: 50px;
		width: 50px;
		line-height: 50px;
		background: #131415;
		cursor: pointer;
		border-radius: 2px;
		@include transition (all 0.1s ease-in-out);
		float: right;
	}

	i:hover {
		color: #f27490;
	}

	i:after {
		clear:both;
	}

	.info {
		display: none;
		background: #131415;
		padding: 15px;
		li {
			list-style: none;
			text-align: left;
		}
	}
}

input, textarea {
			font-size: 24px;
			font-family: "proxima-nova-extra-condensed",sans-serif;
			width: 100%;
			margin: 10px auto;
			display: block;
			border: #222 solid 5px;
			line-height: 50px;
			border-radius: 2px;
		}

div.actions input {
	background: #22262E;
	padding: 10px;
	border-bottom: none;
	border-radius: 2px;
	display: table;
	margin: 10px auto 0;
	border: none;
	color: white;
	font-size: 24px;
	font-family: "proxima-nova-extra-condensed",sans-serif;
	@include transition (all 0.1s ease-in-out);
	cursor: pointer;
}

div.actions input:hover {
	background: #f27490;
}

@import "prettify";
@import "links";
@import "signin";
@import "queries";