
@media screen and (max-width: 768px) {


}

@media screen and (max-width: 1437px) {
	.goldtainer {
		width: 870px;
	}
}

@media screen and (max-width: 900px) {
	.goldtainer {
		width: auto;
	}
	article.tag {
		width: 49%;
	}
	article.tag:nth-child(2n) {
		margin-right: 0;
	}
	article.tag:nth-child(2n):before,
	article.tag:nth-child(2n):after {
	    content:"";
	    display:table;
	}

	article.tag:nth-child(2n):after {
	    clear:both;
	}
	nav.menu {
		position: relative;
		width: 100%;
		height: auto;
		padding: 0 15px;
		ul {
			margin: 0;
			padding: 0;
		}
		ul li {
			list-style: none; 
			float: left;
			padding: 5px;
		}

		ul li a {
			color: #999;

		}

		ul li a.active, ul li a:hover {
			color: #22262E;
		}
	}
	nav.menu:after, nav.menu:before {
		content: ' ';
		background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(225,225,225,0.5)), color-stop(50%, rgba(225,225,225,0.8)), color-stop(100%, rgba(225,225,225,0.5)));
		background-image: -webkit-linear-gradient(left, rgba(225,225,225,0.5), rgba(225,225,225,0.8), rgba(225,225,225,0.5));
		background-image: -moz-linear-gradient(left, rgba(225,225,225,0.5), rgba(225,225,225,0.8), rgba(225,225,225,0.5));
		background-image: -o-linear-gradient(left, rgba(225,225,225,0.5), rgba(225,225,225,0.8), rgba(225,225,225,0.5));
		background-image: linear-gradient(left, rgba(225,225,225,0.5), rgba(225,225,225,0.8), rgba(225,225,225,0.5));
		height: 1px;
		width: 100%;
	}

	pre.prettyprint {
		margin: 0 -15px;
		padding:25px 15px;
	}
}

@media screen and (max-width: 480px) {
	.goldtainer {
		width: auto;
	}

	section.description {
		position: relative;
		width: 100%;
		margin:auto;
		border-right: none;
		.divider { display:block; }
	}

	article.tag {
		width:100%;
		margin-bottom: 15px;
	}
	article.tag {
		margin-right: 0;
	}
	article.tag:before,
	article.tag:after {
	    content:"";
	    display:table;
	}

	article.tag:after {
	    clear:both;
	}

	
}
