
@media screen and (max-width: 768px) {


}

@media screen and (max-width: 640px) {
	.goldtainer {
		width: 100%;
		padding: 0 15px;
	}

	section.description {
		position: relative;
		width: 100%;
		margin:auto;
		border-right: none;
		.divider { display:block; }
	}
}
