
@media screen and (max-width: 768px) {


}

@media screen and (max-width: 1437px) {
	.goldtainer {
		width: 870px;
	}
}

@media screen and (max-width: 900px) {
	.goldtainer {
		width: auto;
	}
	article.tag {
		width: 49%;
	}
	article.tag:nth-child(2n) {
		margin-right: 0;
	}
	article.tag:nth-child(2n):before,
	article.tag:nth-child(2n):after {
	    content:"";
	    display:table;
	}

	article.tag:nth-child(2n):after {
	    clear:both;
	}
}

@media screen and (max-width: 480px) {
	.goldtainer {
		width: auto;
	}

	section.description {
		position: relative;
		width: 100%;
		margin:auto;
		border-right: none;
		.divider { display:block; }
	}

	article.tag {
		width:100%;
		margin-bottom: 15px;
	}
	article.tag {
		margin-right: 0;
	}
	article.tag:before,
	article.tag:after {
	    content:"";
	    display:table;
	}

	article.tag:after {
	    clear:both;
	}

	
}
