div.sign-in {
  	
  	div.innered {
  		width: 300px;
  		margin: auto;
  		text-align: center;

		input {
			text-align: center;
			font-size: 24px;
			font-family: "proxima-nova-extra-condensed",sans-serif;
			width: 100%;
			margin: 10px auto;
			display: block;
			border: #222 solid 5px;
			line-height: 50px;
			border-radius: 2px;
		}

		h2 {
			padding: 50px 0 0;
		}
		form {
			padding: 0 0 50px;
		}
		div.submit-field input {
			background: #22262E;
			padding: 10px;
			border-bottom: none;
			border-radius: 2px;
			display: table;
			margin: 10px auto 0;
			border: none;
			color: white;
			font-size: 24px;
			font-family: "proxima-nova-extra-condensed",sans-serif;
			@include transition (all 0.1s ease-in-out);
			cursor: pointer;
		}

		div.submit-field input:hover {
			background: #f27490;
		}
  	}
  }