<footer class="main">
	<h6 class="findme">Find me on  <a href="http://github.com/bangarang" id="github" alt="http://github.com/bangarang">Github</a>, <a href="http://twitter.com/lxrck" id="twitter" alt="http://twitter.com/lxrck">Twitter</a>, <a id="strava" href="http://www.strava.com/athletes/1012932">Strava</a> and <a id="instagram" href="http://instagram.com/bangarang"> Instagram</a>.</h6>
</footer>