<style>


.feature-divider {
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(225,225,225,0.5)), color-stop(50%, rgba(225,225,225,0.8)), color-stop(100%, rgba(225,225,225,0.5)));
	background-image: -webkit-linear-gradient(left, rgba(225,225,225,0.5), rgba(225,225,225,0.8), rgba(225,225,225,0.5));
	background-image: -moz-linear-gradient(left, rgba(225,225,225,0.5), rgba(225,225,225,0.8), rgba(225,225,225,0.5));
	background-image: -o-linear-gradient(left, rgba(225,225,225,0.5), rgba(225,225,225,0.8), rgba(225,225,225,0.5));
	background-image: linear-gradient(left, rgba(225,225,225,0.5), rgba(225,225,225,0.8), rgba(225,225,225,0.5));
	height: 1px;
	width: 100%;
}

</style>
<header>
	<div class="top">
		<h4 class="lxrck">Alex Rock</i></h4>

		<h4 class="dots"><i class="icon-ellipsis-horizontal"></i></h4>
	</div>
	<div class="feature-divider"></div>
	<div class="lxrck-box"> 
		<%= image_tag avatar_url(), :class =>"me" %>
		<p>My name is <strong>Alex Rock</strong>.</p>
		<p>I'm a web developer in Omaha, Nebraska and I love building applications with amazing people.</p>
		<p class="close"><i class="icon-arrow-up"></i></p>
	</div>

	<div class="dots-box"> 
		<p>Find me on <a href="http://twitter.com/lxrck" id="twitter">Twitter</a>, <a id="strava" href="http://www.strava.com/athletes/1012932">Strava</a> and <a id="instagram" href="http://instagram.com/bangarang"> Instagram</a>.</p> 
		<p>Site created with <a id="rails" href="http://www.rubyonrails.org">Ruby on Rails</a> and hosted by <a id="heroku" href="http://heroku.com">Heroku</a>. </p>
		<p class="close"><i class="icon-arrow-up"></i></p>
	</div>
</header>
