<header>
	<div class="top">
		<h1 class="lxrck">Alex Rock <span class="dvlpr">Developer</span></h1>
		<i class="batch dots" data-icon="&#xf141"></i>
	</div>
	<div class="bottom">
		<div class="lxrck-box"> 
			<p>My name is <strong>Alex Rock</strong>.</p>
			<p>I'm a developer in Omaha, Nebraska with a passion for technology. 
			<p>I love build neat web and desktop applications with amazing people.</p>
		</div>

		<div class="dots-box"> 
			<p>Find me on <a href="http://twitter.com/lxrck" id="twitter">Twitter</a>, <a id="strava" href="http://www.strava.com/athletes/1012932">Strava</a> and <a id="instagram" href="http://instagram.com/bangarang"> Instagram</a>.</p> 
			<p>Site created with <a id="rails" href="http://www.rubyonrails.org">Ruby on Rails</a> and hosted by <a id="heroku" href="http://heroku.com">Heroku</a>. </p>
		</div>
	</div>
</header>