<header class="main">
	<h2 class="name"><a href="/about"><span>about </span>Alex Rock</a></h2>
</header>

<% if signed_in? %>
 <nav class="menu clear">
    <ul>
      <li><%= link_to "Tags", tags_path, class: active_class?(tags_path) %></li>
      <li><%= link_to "Photos", photos_path, class: active_class?(photos_path) %></li>
      <li><%= link_to "Posts", posts_path, class: active_class?(posts_path) %></li>
	  <li><%= link_to 'Sign out', kill_path, method: :delete %></li>
    </ul>
  </nav>
<% end %>